# Local database
DATABASE_URL="file:./dev.db"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Auth placeholder
AUTH_SECRET="replace-me"

# Shopify
SHOPIFY_STORE_DOMAIN="shop.konfydence.com"
SHOPIFY_STOREFRONT_ACCESS_TOKEN=""
SHOPIFY_WEBHOOK_SECRET=""
